<div class="wrapper">
  <div class="container text-center">
    <div class="show-page-image">
      <h2><%= @cocktail.name %></h2>
    </div>
    <div class="row">
      <% @cocktail.doses.each do |dose| %>
        <div class="col-xs-6 col-sm-4 col-md-3">
          <div class="avatar" style="background: rgb( <%= rand(0..200) %>, <%= rand(0..200) %>, <%= rand(0..200) %> );">
            <p><%= dose.ingredient.name %></p>
            <%= link_to dose_path(dose), method: :delete do %>
              <i class="fas fa-trash-alt delete-avatar"></i>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <% @cocktail.reviews.each do |review| %>
      <div class="review-card text-justify">
        <p><%= review.comment %></p>
        <div class="bottom-line">
          <p>
            <strong>rating: </strong>
            <% review.rating.times do %>
              <i class="fas fa-star stars"></i>
            <% end %>
          </p>
          <%= link_to review_path(review), method: :delete do %>
            <i class="fas fa-trash-alt delete-review"></i>
          <% end %>
        </div>
      </div>
    <% end %>

    <div class="row">
      <div class="col-xs-12 col-md-6">
        <%= simple_form_for [@cocktail, @dose] do |f| %>
          <div class="form-group">
            <%= f.input :description, input_html: { class: 'form-description', placeholder: "Description..." }, label: false, required: true %>
            <%= f.association :ingredient, collection: Ingredient.all.sort_by { |ingredient| ingredient.name.downcase }, label: false, include_blank: "Ingredient", input_html: { class: 'form-dropdown' }, required: true %>
            <%= f.submit class:"btn btn-primary" %>
          </div>
        <% end %>
      </div>
      <div class="col-xs-12 col-md-6">
        <%= simple_form_for [@cocktail, @review] do |f| %>
          <div class="form-group">
            <%= f.input :comment, input_html: { class: 'review-field', placeholder: "Add a review..." },label: false, required: true %>
            <%= f.input :rating, collection: (1..5), label: false, include_blank: "Rating", required: true %>
            <%= f.submit class:"btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
